@import "./components/colors";
@import "./components/mixins";

.focus {
    @include button;
    @include button-focus($text-color, $text-color);
}

.app {
    .bodyApp {
        display: flex;
        justify-content: center;
        font-family: "Segoe UI";
        color: $text-color;

        .bg {
            background-image: url(https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1492&q=80);
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            background-color: rgba(0, 255, 132, 0.9);
            background-blend-mode: multiply;
            min-height: 800px;
            width: 100%;
            position: fixed;
        }

        .header {
            position: fixed;
            top: 0px;
            padding: 20px 16px 0px 16px;
            width: 328px;
            height: 192px;

            .topbar {
                @include df;
                align-items: normal;

                .logo {
                    font-size: 12px;
                    font-weight: bold;
                }
                .logo span {
                    font-size: 8px;
                    vertical-align: super;
                    font-weight: lighter;
                }
                .config-button {
                    @include button;
                    padding: 0px;
                    font-size: 12px;
                }
                .none {
                    display: none;
                }
            }
            .message-layout {
                position: fixed;
                top: 160px;
                width: 327px;
            }

            .title {
                position: fixed;
                top: 112px;
                font-size: 24px;
                font-weight: bold;
            }
        }

        .main {
            margin-top: 212px;
            .match-container {
                backdrop-filter: blur(15px);
                margin: 0px 0px 10px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 2px;

                .date {
                    @include df;
                    justify-content: flex-start;
                    font-size: 12px;
                    padding: 8px 0px 16px 4px;
                    .day {
                        padding-left: 12px;
                        font-weight: 600;
                    }
                    .month-year {
                        color: $text-color-secondary;
                    }
                }
                .match {
                    @include df;
                    justify-content: normal;
                    padding: 0px 0px 4px 16px;
                    font-size: 16px;
                }

                .time {
                    @include df;
                    height: 40px;
                    width: 96px;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: -2px;
                }

                .players {
                    @include df;
                    justify-content: flex-start;
                    width: 112px;
                    column-gap: 8px;
                    -webkit-column-gap: 8px;

                    div:nth-child(n) {
                        width: 16px;
                        padding: 4px;
                        border: 1px solid transparent;
                        border-radius: 2px;
                        text-align: center;
                        font-size: 10px;
                        font-weight: bold;
                    }

                    .field {
                        background: white;
                        color: $text-color-terceary;
                    }

                    .joined {
                        background: rgba(41, 255, 55, 0.925);
                        color: $text-color-terceary;
                    }

                    .missed {
                        background: rgb(50, 50, 50);
                        color: white;
                    }
                }

                .action {
                    @include df;
                    align-items: normal;
                    width: 112px;
                    height: 24px;
                    padding-right: 12px;
                    column-gap: 8px;

                    button {
                        @include action-button;
                    }
                }

                .info {
                    padding: 12px 0px 30px 112px;
                    text-transform: capitalize;

                    .name {
                        font-size: 12px;
                        font-weight: 500;
                    }

                    .location {
                        font-size: 12px;
                        color: $text-color-secondary;
                    }
                }
            }

            .bottom-space {
                height: 80px;
            }

            .form {
                backdrop-filter: blur(15px);
                padding: 16px 16px 32px;
                margin-top: -24px;
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 2px;

                .action {
                    @include df;
                    // width: 80%;
                    button {
                        @include action-button;
                        font-size: 12px;
                        padding: 10px;
                    }
                }
            }

            .config {
                display: flex;
                justify-content: center;

                .profile {
                    display: flex;
                    flex-direction: column;
                    padding: 32px 24px 40px;
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    border-radius: 2px;
                    width: 160px;
                    row-gap: 40px;
                    backdrop-filter: blur(15px);

                    &:nth-child(n) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 18px;
                    }

                    &img {
                        border-radius: 25%;
                    }
                }

                button {
                    @include action-button;
                    font-size: 16px;
                    padding: 16px;
                }
            }
        }

        .navbar {
            @include df;
            justify-content: space-around;
            position: fixed;
            bottom: 0px;
            min-width: 360px;
            height: 32px;
            padding: 0px 0px 24px;
            font-size: 8px;
            background-color: rgb(0, 0, 0);

            .nav-button {
                @include button;
                padding: 14px 0px 0px;
                border-top: solid transparent 4px;
            }

            .focus {
                @include button-focus($text-color, $text-color);
            }
        }
    }
}
