.focus {
  color: #d4d4d4;
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  transition: 0.5s;
  border-top: solid #f7f3ce 4px;
  color: #f7f3ce;
}

.app .bodyApp {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI";
  color: #f7f3ce;
}
.app .bodyApp .bg {
  background-image: url(https://images.unsplash.com/photo-1579547621113-e4bb2a19bdd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1492&q=80);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 255, 132, 0.9);
  background-blend-mode: multiply;
  min-height: 800px;
  width: 100%;
  position: fixed;
}
.app .bodyApp .header {
  position: fixed;
  top: 0px;
  padding: 20px 16px 0px 16px;
  width: 328px;
  height: 192px;
}
.app .bodyApp .header .topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: normal;
}
.app .bodyApp .header .topbar .logo {
  font-size: 12px;
  font-weight: bold;
}
.app .bodyApp .header .topbar .logo span {
  font-size: 8px;
  vertical-align: super;
  font-weight: lighter;
}
.app .bodyApp .header .topbar .config-button {
  color: #d4d4d4;
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  padding: 0px;
  font-size: 12px;
}
.app .bodyApp .header .topbar .none {
  display: none;
}
.app .bodyApp .header .message-layout {
  position: fixed;
  top: 160px;
  width: 327px;
}
.app .bodyApp .header .title {
  position: fixed;
  top: 112px;
  font-size: 24px;
  font-weight: bold;
}
.app .bodyApp .main {
  margin-top: 212px;
}
.app .bodyApp .main .match-container {
  backdrop-filter: blur(15px);
  margin: 0px 0px 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
}
.app .bodyApp .main .match-container .date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12px;
  padding: 8px 0px 16px 4px;
}
.app .bodyApp .main .match-container .date .day {
  padding-left: 12px;
  font-weight: 600;
}
.app .bodyApp .main .match-container .date .month-year {
  color: #d4d4d4;
}
.app .bodyApp .main .match-container .match {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: normal;
  padding: 0px 0px 4px 16px;
  font-size: 16px;
}
.app .bodyApp .main .match-container .time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  width: 96px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: -2px;
}
.app .bodyApp .main .match-container .players {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  width: 112px;
  column-gap: 8px;
  -webkit-column-gap: 8px;
}
.app .bodyApp .main .match-container .players div:nth-child(n) {
  width: 16px;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.app .bodyApp .main .match-container .players .field {
  background: white;
  color: #000000;
}
.app .bodyApp .main .match-container .players .joined {
  background: rgba(41, 255, 55, 0.925);
  color: #000000;
}
.app .bodyApp .main .match-container .players .missed {
  background: #323232;
  color: white;
}
.app .bodyApp .main .match-container .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: normal;
  width: 112px;
  height: 24px;
  padding-right: 12px;
  column-gap: 8px;
}
.app .bodyApp .main .match-container .action button {
  width: inherit;
  background-color: transparent;
  color: #ffff00;
  font-size: 10px;
  border-style: none;
  border: 1px solid yellow;
  border-radius: 4px;
  cursor: pointer;
}
.app .bodyApp .main .match-container .action button:active {
  transition: 0.125s;
  background-color: yellow;
  color: black;
}
.app .bodyApp .main .match-container .info {
  padding: 12px 0px 30px 112px;
  text-transform: capitalize;
}
.app .bodyApp .main .match-container .info .name {
  font-size: 12px;
  font-weight: 500;
}
.app .bodyApp .main .match-container .info .location {
  font-size: 12px;
  color: #d4d4d4;
}
.app .bodyApp .main .bottom-space {
  height: 80px;
}
.app .bodyApp .main .form {
  backdrop-filter: blur(15px);
  padding: 16px 16px 32px;
  margin-top: -24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
}
.app .bodyApp .main .form .action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.app .bodyApp .main .form .action button {
  width: inherit;
  background-color: transparent;
  color: #ffff00;
  font-size: 10px;
  border-style: none;
  border: 1px solid yellow;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
}
.app .bodyApp .main .form .action button:active {
  transition: 0.125s;
  background-color: yellow;
  color: black;
}
.app .bodyApp .main .config {
  display: flex;
  justify-content: center;
}
.app .bodyApp .main .config .profile {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  width: 160px;
  row-gap: 40px;
  backdrop-filter: blur(15px);
}
.app .bodyApp .main .config .profile:nth-child(n) {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
}
.app .bodyApp .main .config .profileimg {
  border-radius: 25%;
}
.app .bodyApp .main .config button {
  width: inherit;
  background-color: transparent;
  color: #ffff00;
  font-size: 10px;
  border-style: none;
  border: 1px solid yellow;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
}
.app .bodyApp .main .config button:active {
  transition: 0.125s;
  background-color: yellow;
  color: black;
}
.app .bodyApp .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  min-width: 360px;
  height: 32px;
  padding: 0px 0px 24px;
  font-size: 8px;
  background-color: black;
}
.app .bodyApp .navbar .nav-button {
  color: #d4d4d4;
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  padding: 14px 0px 0px;
  border-top: solid transparent 4px;
}
.app .bodyApp .navbar .focus {
  transition: 0.5s;
  border-top: solid #f7f3ce 4px;
  color: #f7f3ce;
}

/*# sourceMappingURL=Styles.css.map */
