a {
  text-decoration: none;
  font-size: 10px;
}

.focus {
  transition: 0.5s;
  filter: invert(100%);
}

.display-none {
  display: none;
}

.settings-icon {
  filter: invert(100%);
}

.nav-icon {
  filter: invert(50%);
}

.title-container {
  position: fixed;
  top: 112px;
  font-size: 24px;
  font-weight: bold;
}

.app {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI";
  color: #f7f3ce;
}
.app .fixed-background {
  background: linear-gradient(48deg, #202121, #536365);
  position: fixed;
  height: 100%;
  width: 100%;
}
.app .header {
  position: fixed;
  top: 0px;
  padding: 20px 16px 0px 16px;
  width: 328px;
  height: 192px;
}
.app .header .topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: normal;
}
.app .header .topbar-container .logo {
  font-size: 12px;
  font-weight: bold;
}
.app .header .topbar-container .logo span {
  font-size: 8px;
  vertical-align: super;
  font-weight: lighter;
}
.app .header .topbar-container .config-button {
  color: #d4d4d4;
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  padding: 0px;
  font-size: 12px;
}
.app .header .message-container {
  position: fixed;
  top: 160px;
  width: 327px;
}
.app .header .message-container .message {
  color: #fbff00;
  display: flex;
  font-size: 12px;
}
.app .main {
  margin-top: 212px;
  width: 340px;
}
.app .main .match-container {
  backdrop-filter: blur(15px);
  margin: 0px 0px 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(55, 255, 55, 0.5);
  border-radius: 2px;
}
.app .main .match-container .date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12px;
  padding: 8px 0px 16px 4px;
}
.app .main .match-container .date .day {
  padding-left: 12px;
  font-weight: 600;
}
.app .main .match-container .date .month-year {
  color: #d4d4d4;
}
.app .main .match-container .match {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: normal;
  padding: 0px 0px 4px 16px;
  font-size: 16px;
}
.app .main .match-container .time {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  width: 96px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: -2px;
}
.app .main .match-container .players {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  width: 112px;
}
.app .main .match-container .players div:nth-child(n) {
  padding-right: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.app .main .match-container .players .field {
  color: #f7f3ce;
}
.app .main .match-container .players .joined {
  padding-left: 8px;
  color: #37ff37;
}
.app .main .match-container .players .missed {
  color: rgba(55, 255, 55, 0.4);
}
.app .main .match-container .action-match {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: normal;
  width: 112px;
  height: 24px;
  padding-right: 12px;
  column-gap: 8px;
}
.app .main .match-container .action-match button {
  width: inherit;
  background-color: #37ff37;
  color: black;
  font-size: 10px;
  font-weight: 700;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.app .main .match-container .action-match button:active {
  transition: 0.125s;
  background-color: #fbff00;
  color: black;
}
.app .main .match-container .info {
  padding: 12px 0px 30px 112px;
  text-transform: capitalize;
}
.app .main .match-container .info .name {
  font-size: 12px;
  font-weight: 500;
}
.app .main .match-container .info .location {
  font-size: 12px;
  color: #d4d4d4;
}
.app .main .bottom-space {
  height: 80px;
}
.app .main .create-match-form {
  backdrop-filter: blur(15px);
  padding: 16px 16px 32px;
  margin-top: -24px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 2px;
}
.app .main .create-match-form .action-match-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}
.app .main .create-match-form .action-match-form button {
  width: inherit;
  background-color: #37ff37;
  color: black;
  font-size: 10px;
  font-weight: 700;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #37ff37;
  font-size: 12px;
  padding: 10px;
  width: 96px;
}
.app .main .create-match-form .action-match-form button:active {
  transition: 0.125s;
  background-color: #fbff00;
  color: black;
}
.app .main .config .profile {
  display: flex;
  align-content: center;
  padding: 32px 24px 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 2px;
  backdrop-filter: blur(15px);
}
.app .main .config .profile:nth-child(n) {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
.app .main .config .profileimg {
  border-radius: 25%;
}
.app .main .config button {
  width: inherit;
  background-color: #37ff37;
  color: black;
  font-size: 10px;
  font-weight: 700;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  padding: 16px;
  width: 100px;
}
.app .main .config button:active {
  transition: 0.125s;
  background-color: #fbff00;
  color: black;
}
.app .navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  min-width: 360px;
  width: 414px;
  height: 40px;
  padding: 0px 0px 24px;
  background-color: black;
}

/*# sourceMappingURL=Styles.css.map */
