$leave-color: rgb(251,255,0);
$leave-secondary-color: rgba(251,255,0,0.2);
$del-color: rgb(251,0,0);
$del-secondary-color: rgb(251,0,0,0.2);
$text-color: rgb(255,255,255);
$text-color-secondary: #494949;
$text-color-terceary: #000000;

// palette
$primary-color: #88f7ff;
$secondary-color: #cbcd2f;
$bg-color: #ebebeb;