$accent-color: #00fff2;
$secondary-color: rgb(255, 251, 0);
$text-color: #f7f3ce;
$text-color-secondary: #d4d4d4;
$text-color-terceary: #000000;
$bg-color: rgb(122 118 93 / 90%);
$bg-color2: rgba(121, 133, 124,.1)