$primary-color: rgb(55, 255, 55);
$secondary-color: rgba(55, 255, 55, 0.2);
$leave-color: rgb(251,255,0);
$leave-secondary-color: rgba(251,255,0,0.2);
$del-color: rgb(251,0,0);
$del-secondary-color: rgb(251,0,0,0.2);
$terceary-color: #fbff00;
$text-color: rgb(255,255,255);
// $text-color: #f7f3ce;
$text-color-secondary: #d4d4d4;
$text-color-terceary: #000000;