@mixin df {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@mixin button {
    color: $text-color-secondary;
    border-style: none;
    border-width: 0px;
    outline-style: none;
    cursor: pointer;
    transition: 0.5s;
}

@mixin button-focus($bt-color, $br-color) {
    transition: 0.5s;
}

@mixin action-button {
    width: inherit;
    background-color: $primary-color;
    color: rgb(0,0,0);
    font-size: 10px;
    font-weight: 700;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;

    &:active {
        transition: .225s;
        transform: scale(80%);
    }
}