.primary{
  color: #ffffff;
}
.secondary{
  color: #ffffff
}

.body {
  margin: 20px 0px 16px;
  font-family: 'Segoe UI';
  color: white;
  background-color: #01252E;
}

.header {
  position: fixed;
  top: 0px;
  padding: 20px 16px 0px 16px;
  width: 328px;
  height: 192px;
  background-color: #01252E;
}

.topvar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message-layout {
  position: fixed;
  top: 160px;
  width: 327px;
}

.title {
  position: fixed;
  top: 112px;
  font-size: 24px;
  font-weight: bold;
}

.main {
  margin-top: 212px;
}

.bottom-space {
  height: 80px
}

.navbar {
  position: fixed;
  bottom: 0px;
  width: 328px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 16px;
  background-color: #01252E;
  font-size: 8px;
}

.nav-button {
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  border-top: solid transparent 4px;
  padding-top: 8px;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  transition: .5s;
}

.config-button {
  border-style: none;
  border-width: 0px;
  outline-style: none;
  background: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, .5);
  transition: .5s;  
  cursor: pointer;
}

.focus {
  transition: .5s;
  border-top: solid white 4px;
  color: white;
}

.none {
  display: none;
}