.body {
  margin: 20px 16.5px 16px 16.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #03F6FF;
}

.header {
  position: fixed;
  top: 20px;
  width: 327px;
  height: 194px;
  background-color: #1C1C1C;
}

.topvar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.message {
  position: fixed;
  top: 60px;
  width: 327px;
}

.title {
  position: fixed;
  top: 112px;
  font-size: 24px;
  font-weight: bold;
}

.main {
  width: 327px;
  margin-top: 208px;
}

.form {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  bottom: 0px;
  width: 327px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 16px 0px;
  background-color: #1C1C1C;
  font-size: 12px;
}